<%= form_for(@improve_on) do |f| %>
  <% if @improve_on.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@improve_on.errors.count, "error") %> prohibited this improve_on from being saved:</h2>

      <ul>
      <% @improve_on.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :daily_goal_id %><br>
    <%= f.text_field :daily_goal_id %>
  </div>
  <div class="field">
    <%= f.label :long_term_goal_id %><br>
    <%= f.text_field :long_term_goal_id %>
  </div>
  <div class="field">
    <%= f.label :mid_term_goal_id %><br>
    <%= f.text_field :mid_term_goal_id %>
  </div>
  <div class="field">
    <%= f.label :weekly_goal_id %><br>
    <%= f.text_field :weekly_goal_id %>
  </div>
  <div class="field">
    <%= f.label :date_of_day %><br>
    <%= f.date_select :date_of_day %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :used_before %><br>
    <%= f.check_box :used_before %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
