<%= form_for(@focus_point) do |f| %>
  <% if @focus_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@focus_point.errors.count, "error") %> prohibited this focus_point from being saved:</h2>

      <ul>
      <% @focus_point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :daily_goal_id %><br>
    <%= f.text_field :daily_goal_id %>
  </div>
  <div class="field">
    <%= f.label :long_term_goal_id %><br>
    <%= f.text_field :long_term_goal_id %>
  </div>
  <div class="field">
    <%= f.label :mid_term_goal_id %><br>
    <%= f.text_field :mid_term_goal_id %>
  </div>
  <div class="field">
    <%= f.label :weekly_goal_id %><br>
    <%= f.text_field :weekly_goal_id %>
  </div>
  <div class="field">
    <%= f.label :date_of_day %><br>
    <%= f.date_select :date_of_day %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :used_before %><br>
    <%= f.check_box :used_before %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
